@import './../../../../shared/styles/media';
@import './../../../../shared/styles/mixins';

.nextButton {
    @include reset-button;

    background-color: var(--bg-3);
    height: var(--button-height);
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 30px;
    color: var(--dark);
    transition: var(--transition);

    &:disabled {
        cursor: no-drop;

        .rightArrow {
            path {
                opacity: 0.5;
            }
        }
    }

    @include hover {
        opacity: 0.7;
    }

    .rightArrow {
        width: 30px;
        height: 30px;

        path {
            stroke: var(--light);
        }
    }
}