@use '@shared/styles/helpers/index' as *;

.gridList {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 15px;

    @include tablet {
        grid-template-columns: repeat(6, 2fr);
    }

    @include mobile {
        grid-template-columns: repeat(2, 3fr);
        gap: 10px;
    }

    &.five {
        --columns: 5;
        grid-template-columns: repeat(var(--columns), 1fr);

        @include tablet {
            --columns: 3;
        }

        @include mobile {
            --columns: 1;
        }
    }

    &.list {
        grid-template-columns: repeat(1, 1fr);
    }
}