@import './../../../shared/styles/media';
@import './../../../shared/styles/mixins';

.gridList {
    .list {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 15px;
        height: 100%;
        width: 100%;
    
        @include tablet {
            grid-template-columns: repeat(6, 2fr);
        }
    
        @include mobile {
            grid-template-columns: repeat(2, 3fr);
            gap: 10px;
        }
    
        .card {
            position: relative;
            cursor: pointer;
            border-radius: 10px;
            transition: all 0.2s;
    
            img {
                max-height: 300px;
                border-radius: 10px;
                width: 100%;
            }

            @include hover {
                opacity: 0.9;
            }

            button {
                @include reset-button;
    
                cursor: pointer;
                position: absolute;
                top: 0;
                right: 10px;
                content: '';
                opacity: 0.8;
                width: 20px;
                height: 30px;
    
                @include hover {
                    opacity: 1;
                }
            }
        }
    }
}