@import './../../../../shared/styles/media';
@import './../../../../shared/styles/mixins';

.login {
    @include reset-button;

    padding: 5px 10px;
    border: transparent;
    border-radius: 7px;
    cursor: pointer;
    font-size: 18px;
    color: var(--dark);
    transition: all 0.2s;

    @include hover {
        opacity: 0.8;
    }

    @include mobile {
        font-size: 14px;
        grid-area: login;
    }

    .buttons {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    .loginTrue,
    .loginFalse {
        width: 40px;
        border-radius: 20px;
        height: 20px;
        display: flex;
        align-items: center;

        img {
            background-color: #fff;
            border-radius: 50%;
            padding: 3px;
            filter: drop-shadow(-1px 0px 2px rgb(71, 71, 71));
        }
    }

    .loginTrue {
        background-color: green;
        justify-content: end;
    }

    .loginFalse {
        background-color: red;
        justify-content: start;
    }
}