@import './../../../../shared/styles/media';
@import './../../../../shared/styles/mixins';

.sceletonTitleList {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 15px;
        height: 100%;
        width: 100%;
    
        @include tablet {
            grid-template-columns: repeat(3, 2fr);
        }
    
        @include mobile {
            grid-template-columns: repeat(2, 3fr);
        }
    
        .card {
            animation: wave 1s linear infinite alternate;
            border-radius: 10px;
            height: 200px;
    
            img {
                // max-height: 300px;
                height: 100%;
                border-radius: 10px;
                width: 100%;
            }
        }
}

@keyframes wave {
    0% {
        background-color: var(--second-light);
    }
    100% {
        background-color: var(--light);
    }
}