@use '@shared/styles/helpers/index' as *;

.sceletonTitleList {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 15px;
        height: 100%;
        width: 100%;
    
        @include tablet {
            grid-template-columns: repeat(3, 2fr);
        }
    
        @include mobile {
            grid-template-columns: repeat(2, 3fr);
        }
    
        .card {
            animation: wave 1s linear infinite alternate;
            border-radius: 10px;
            width: 100%;
            aspect-ratio: 5889160200228700/8412231522718843;
        }
}

@keyframes wave {
    0% {
        background-color: var(--dark-3);
    }
    100% {
        background-color: var(--dark-second);
    }
}