@use '@shared/styles/helpers/index' as *;

.titlePage {
    display: flex;
    flex-direction: column;
    // row-gap: 50px;
    align-items: start;

    .main {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        @include tablet {
            
        }

        .topBlock {
            display: flex;
            column-gap: 20px;

            @include mobile {
                flex-direction: column;
                row-gap: 10px;
            }
        }

        .info {
            display: flex;
            flex-direction: column;
            row-gap: 10px;

            @include tablet {
                
            }
        }

        .poster {
            max-width: 300px;
            border-radius: var(--border-radius);
            overflow: hidden;

            @include tablet {
            
            }

            img {
                width: 100%;
            }
        }

        .description {

            p {
                color: var(--dark-6);
                line-height: 1.5;
            }

            @include tablet {
                
            }
        }

        .titleEn {
            color: var(--dark-5);
        }

        .infoBlock {

            p {
                color: var(--dark-6);
            }

            span {
                color: var(--light);
            }
        }
    }

    .buttonFavorite,
    .buttonUnFavorite {
        @include reset-button;
        cursor: pointer;
        padding-inline: 20px;
        height: var(--button-height);
        border-radius: var(--border-radius);
        transition: var(--transition);
    }

    .buttonUnFavorite {
        border: 1px solid var(--primary);
        // background-color: var(--primary);
        color: var(--light);

        @include hover {
            opacity: 0.8;
        }
    }

    .buttonFavorite {
        background-color: var(--primary-second);
        color: var(--dark);

        @include hover {
            opacity: 0.8;
        }
    }
}

.playerWrapper {
    padding-top: 30px;
    position: relative;
    // background-color: var(--second-light);
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border-radius: 10px;

    @include mobile {
        background-color: var(--light);
    }
}
.selectWrapper {
    left: 0;
    top: -15px;
    position: absolute;
    padding-inline: 20px;
    display: flex;
    column-gap: 10px;

    .select {
        height: 30px;
        border-radius: 5px;
        padding-inline: 5px;
        transition: all 0.2s;
        border: transparent;
        outline: 1px solid var(--primary-second);
        cursor: pointer;

        &:focus {
            outline: 1px solid var(--primary);
        }

        @include hover {
            outline: 1px solid var(--primary-second);
        }

        @include mobile {
            border: 1px solid var(--primary-second);
        }
    }
}