@use './helpers/index' as *;

:root {
    --dark: #0D0D0D;
    --dark-second: #1B1B1B;
    --dark-5: #505050;
    --dark-6: #858585;
    --light: #F3F3F3;
    --second-light: #F5F5F5;
    --primary: #F3AF34;
    --primary-second: #fadc8e;
    --gray-light: #F4F5F7;
    --green: #2EC1AC;
    --red: #E97171;
    --bg: #0D0D0D;
    --bg-second: #1B1B1B;
    --bg-3: #282828;
    --bg-4: #353535;

    --border: 1px solid var(--color-yellow);
    --border-radius: 8px;
    --border-radius-small: 7px;
    --border-radius-large: 45px;

    --shadow: 0 5px 0 0 var(--color-dark);

    --font-family-base: "Noto Sans", sans-serif;

    --container-width: 1380px;
    --container-padding-x: 32px;

    --section-padding-y: 30px;

    --input-height: 59px;
    --button-height: 48px;
    --button-height-small: 48px;

    --transition-duration: all 0.2s;

    --swiper-pagination-bottom: auto;
    --swiper-pagination-top: auto;

    @include desktop {
          --section-padding-y: 25px;
    }

    @include tablet {
        --section-padding-y: 20px;
        --button-height: 32px;
    }

    @include mobile {
        --container-padding-x: 16px;
    }
}