@use './helpers/index' as *;

:root {
    --dark: #0a0a0a;
    --dark-1: #171717;
    --dark-2: #262626;
    --dark-3: #404040;
    --dark-4: #525252;
    --dark-5: #737373;
    --dark-second: #1B1B1B;
    --light: #F3F3F3;
    --second-light: #F5F5F5;
    --color-accent: #e17100;
    --color-accent-1: #bb4d00;
    --primary-second: #fadc8e;
    --gray-light: #F4F5F7;
    --green: #2EC1AC;
    --red: #E97171;
    --dark-second: #1B1B1B;
    --dark-3: #282828;
    --dark-4: #353535;

    --border: 1px solid var(--color-yellow);
    --border-radius: 8px;
    --border-radius-small: 7px;
    --border-radius-large: 45px;

    --shadow: 0 5px 0 0 var(--color-dark);

    --font-family-base: "Noto Sans", sans-serif;

    --container-width: 1380px;
    --container-padding-x: 32px;

    --section-padding-y: 30px;

    --input-height: 48px;
    --button-height: 48px;
    --button-height-small: 48px;

    --transition-duration: 0.2s;

    --swiper-pagination-bottom: auto;
    --swiper-pagination-top: auto;

    @include desktop {
          --section-padding-y: 25px;
    }

    @include tablet {
        --section-padding-y: 20px;
        --input-height: 40px;
        --button-height: 40px;
    }

    @include mobile {
        --container-padding-x: 16px;
    }
}