@use '@shared/styles/helpers/index' as *;

.titlePreview {
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  width: 100%;
  transition: all 0.2s;
  height: 100%;

  img {
    height: 100%;
    border-radius: var(--border-radius);
    width: 100%;
    background-color: var(--color-accent);
  }

  @include hover {
    opacity: 0.9;

    .favoriteButton {
      opacity: 1;
    }
  }

  .favoriteButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: 0;
  }
}