@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import '/src/shared/styles/media';
@import '/src/shared/styles/mixins';
@import '/src/shared/styles/veriables';
@import '/src/shared/styles/utils';

:root {
  font-family: var(--font-family-base);
}

body {
  @include fluid-text(16, 14);

  background: var(--bg);

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: var(--bg-second);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--bg-3);
    border-radius: 10px;
    border: 1px solid var(--bg-3);

    @include hover {
      background-color: var(--bg-4);
    }
  }
}

main {
  padding-block: 20px;
}

h2 {
  @include fluid-text(24, 18);

  margin: 0;
  margin-bottom: 20px;
}

h5, p {
  @include fluid-text(18, 16);

  margin: 0;
}

section {
  padding-block: 20px;
}

button, body, h1, h2, h5, p, a, input {
  color: var(--light);
}

input {
  padding: 0;
  border: transparent;
}

ul {
  padding: 0;
  margin: 0;
}