@use '@shared/styles/helpers/index' as *;

.headerWrapper {
    padding-block: 10px;
    background-color: var(--dark-second);

    .header {
        display: grid;
        grid-template-areas: 
            'logo catalog search login';
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;

        @include mobile {
            row-gap: 10px;
            grid-template-columns: repeat(1, 1fr);
            grid-template-areas: 
            'logo login'
            'catalog search';
        }

        .catalog {
            grid-area: catalog;
            text-decoration: none;
            color: var(--light);
            transition: all 0.2s;

            @include hover {
                opacity: 0.8;
            }
        }

        .active {
            color: var(--primary);
        }

        .logo {
            grid-area: logo;
            display: flex;
            align-items: center;
            column-gap: 20px;
            text-decoration: none;
            font-weight: 700;
            color: var(--dark);
            font-size: 24px;

            @include mobile {
                font-size: 16px;
                column-gap: 10px;
            }
    
            img {
                border-radius: 50%;
                transition: all 0.2s;
                animation: pulse 2s ease-in-out;

                @include mobile {
                    width: 50px;
                }

                // @include hover {
                //     filter: drop-shadow(0px 0px 7px var(--primary));
                // }
            }

            span {
                color: var(--primary);
                filter: drop-shadow(0px 0px 7px var(--primary));
            }
        }
    }
}

.nav {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

@keyframes pulse {
    0% {
        filter: drop-shadow(0px 0px 0px var(--primary));
    }

    50% {
        filter: drop-shadow(0px 0px 7px var(--primary));
    }

    100% {
        filter: drop-shadow(0px 0px 0px var(--primary));
    }
}