@import './../../../shared/styles/media';
@import './../../../shared/styles/mixins';

.search {
    right: 0;
    display: flex;
    align-items: center;
    column-gap: 20px;

    @include mobile {
        grid-area: search;
        margin-inline: auto
    }

    .inputActive {
        padding-inline: 10px;
        width: 200px;
        border-radius: 7px;
        height: 30px;
        border: none;
        transition: var(--transition);
        outline: transparent;
        background-color: var(--bg-second);

        @include hover {
            outline: 1px solid var(--primary-second)  
        }

        &:focus,
        &:active {
            border: transparent;
            outline: 1px solid var(--primary)
        }
    }

    .input {
        transition: all 0.2s;
        background-color: var(--bg-second);
        width: 0px;
    }

    .buttonSearch {
        @include reset-button;

        cursor: pointer;
        padding-inline: 10px;
        border-radius: 7px;
        transition: var(--transition);

        @include hover {
            .searchIcon {
                g {
                    opacity: 0.8;
                }
            }
        }

        .searchIcon {
            width: 20px;
            height: 20px;

            g {
                transition: all 0.2s;
                fill: var(--light);
            }
        }
    }
    .searchWrapper {
        position: relative;
    }
    .buttonReset {
        @include reset-button;

        width: 20px;
        height: 20px;
        cursor: pointer;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include hover {
            opacity: 0.8;
        }
    }
}
