@import './../../../../../shared/styles/media';
@import './../../../../../shared/styles/mixins';

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 20px;

    .controls {
        align-items: center;
        display: flex;
        column-gap: 20px;

        .playPauseButton {
            cursor: pointer;
            width: 30px;
            height: 30px;

            path {
                stroke: white;
                transition: var(--transition);
            }

            @include hover {
                opacity: 0.8;
            }
        }
    }

    .episodes {
        animation-name: show;
        animation-duration: 1s;
        top: 0;
        left: 0;
        z-index: 2;
        position: fixed;
        height: 95vh;
        overflow-y: scroll;
        background-color: var(--dark);
        padding: 20px;

        @include custom-scroll;
    }

    @keyframes show {
        0% {
            transform: translate(-100%);
        }
        100% {
            transform: translate(0);
        }
    }
}

.loader {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 20%;
        height: 100%;
    }
}