@use '@shared/styles/helpers/index' as *;

.episodes {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.isActive {
  background-color: red;
}

.filter {
  display: flex;
  column-gap: 10px;
  align-items: center;
}