.button {
    animation: opacity0;
    animation-duration: 0.3s;
    opacity: 0;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 20;
}

.buttonInView {
    animation: opacity1;
    animation-duration: 0.3s;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 20;
}

@keyframes opacity1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes opacity0 {
    0% {
        opacity: 1;
        display: block;
    }

    100% {
        opacity: 0;
    }
}