@import './../../../../shared/styles/media';
@import './../../../../shared/styles/mixins';

.prevButton {
    @include reset-button;

    height: var(--button-height);
    background-color: var(--bg-3);
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 30px;
    color: var(--light);
    transition: var(--transition);

    &:disabled {
        cursor: no-drop;

        .leftArrow {
            path {
                opacity: 0.5;
            }
        }
    }

    @include hover {
        opacity: 0.7;
    }

    .leftArrow {
        width: 30px;
        height: 30px;

        path {
            stroke: var(--light);
        }
    }
}